html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
	
}
.jumbotron{
	background-color: rgb(228, 228, 228);
}

.jumbotron img {
	width: 200px;
	border: 5px solid #ffe208;
}



.jumbotron h1 {
	font-size: 70 px ;

}

/* .img-circle:hover {
	transform: scale(1.4);
	transition: .3s ease-in;
} */



hr {
	width: 250px;
	border-top: 3px solid #ffe208;
}

section {
	min-height: 600px;
}

.portofolio {
	background-color: #ffffff
}

.contact {
	height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120x;
	background-color:rgb(228, 228, 228);
	padding-top: 30px;
}
	
footer p {
	color: #0f0f0f;
}

.thumbnail {
	position: relative;
	overflow: hidden;
	

}

.img-tittle {
	position: absolute;
	/* background-color: rgba(5,5,5, .7); */
	background-image: linear-gradient(to bottom, rgba(5,5,5,.0), rgba(5,5,5,1));
	width: 100%;
	height: 100%;
	top: 200px;
	transition: .5s ease-in;
	
}

.img-tittle h3 {
	text-align: center;
	color: #ffff;
	line-height: 2px;
	position: relative;
	top: 120px;
	text-shadow: 1px px rgba(5, 5, 5, .5);
	

}

.thumbnail:hover .img-tittle{
	top: 0;
	transition: all .5s ease-out;
}

.thumbnail:hover img{
	transform: scale(1.2);
	transition: .3s ease-in;
	
}

a {
line-height: 0;

}


.overlay1 {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 100;
	padding: 120px 0;
	width: 0;
	height: 0;
	overflow: hidden;
	transition: all .1s ease-out;
}

.overlay1 img {
	width: 400px;
	margin: auto 0;
	
}

.overlay1:target {
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	background-color: rgba(0, 0, 0, .8);
	transition: all .1s ease-in;
}

.sosmed img {
	width: 50px;
	margin-right: 10px;
}

.sosmed img:hover {
	transform:scale(1.3);
	transition: .3s ease-in;
}

.d-none {
	display: none;
}



