html {
	position: relative;
}

/* body {
	height: 3000px;
} */


.jumbotron {
    padding-top: 5rem;
    background-color: #dddfe0;
	font-family: 'Quicksand', sans-serif;

    
}
.jumbotron img {
	width: 200px;
	border: 5px solid #ffe208;

}

section {
	padding-top: 3rem;
}



.skills {
	background-color:#dddfe0;
	
	padding-top: 20px;
}



.custom-popover {
	--bs-popover-max-width: 200px;
	--bs-popover-border-color: var(--bs-white);
	--bs-popover-bg: var(--bs-dark);
	--bs-popover-body-color: var(--bs-white);
	--bs-popover-body-padding-x: 1rem;
	--bs-popover-body-padding-y: .5rem;
  }

/* .logo {
	padding: 10px;
} */


footer{
	background-color:#dddfe0;
	padding-top:5px;
	padding-bottom: 20px;
	
}
.sosmed a {
	text-decoration: none;
}
.sosmed img {
	width: 35px;
	margin-left: 25px;
	
}

